.channels-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem;
    box-sizing: border-box;
}

.channels-list::-webkit-scrollbar {
    width: 0.3rem;
    background: transparent;
}

.channels-list::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 1rem;
}

.channels-list .channels {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.channels-list .loader {
    height: 1rem;
    padding: 1rem 0;
    width: calc(100% - 1rem);
}
