<!DOCTYPE html>
<html>
<head>
    <title>Verify email</title>
    <style>
        h2 {
            margin: 0;
        }

        p {
            font-size: 1.1rem;
        }

        a {
            text-decoration: none;
            color: #33b5e5;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <h2>New video published</h2>
    <p>
        <a href="{{ channel_link }}">{{ channel }}</a> published new video <a href="{{ video_link }}">{{ video_title }}</a>
    </p>
</body>
</html>