<!DOCTYPE html>
<html>
<head>
    <title>Verify email</title>
    <style>
        h2 {
            margin: 0;
        }

        p {
            font-size: 1.1rem;
        }

        a {
            text-decoration: none;
            color: #33b5e5;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <h2>Welcome to ТипоTube</h2>
    <p>
        To receive email notifications, please verify your email address by clicking on the <a href="{{ verify_link }}">link</a>.
    </p>
</body>
</html>