.me {
    height: calc(100vh - 6rem);
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
}

.page-content {
    width: 80%;
    height: 100%;
}

.pages {
    padding-top: .5rem;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
}

.page {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.page:hover {
    background-color: #474747;
    transition: all 0.2s linear;
}

.page img {
    width: 1.7rem;
    height: 1.7rem;
}