.video-item-grid {
    width: calc(100% / 3);
    /* height: 22rem; */
    max-height: 24rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    transition: all .2s;
    color: #7e7e7e;
    position: relative;
    cursor: pointer;
}

/* .video-item-grid:hover {
    background-color: #474747;
    opacity: .9;
    transition: all .2s;
} */

.video-item-grid img.preview {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-item-grid .info-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.7rem;
    box-sizing: border-box;
}

.video-item-grid .info {
    width: calc(90% - 4rem);
    box-sizing: border-box;
}

.video-item-grid img.channel {
    height: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3rem;
}

.video-item-grid .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;
    overflow: hidden !important;

    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

.video-item-grid .creds {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.video-item-grid .author {
    font-weight: 600;
    color: #7e7e7e;
    transition: all .2s;
}

.video-item-grid .author:hover {
    color: #b6b6b6;
}